# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
.next
out
build
turbo-dist

# Environment
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS / IDE
.DS_Store
Thumbs.db
.idea
.vscode/*
!.vscode/extensions.json

# TypeScript
*.tsbuildinfo
next-env.d.ts

# PWA
dev-dist
sw.js
workbox-*.js

# Testing / coverage
coverage

# Misc
.turbo
*.local
